.gp-jumbo{
    line-height: 100px;
}

.gp-example{
    line-height: 50px;
}

.gp-example-2{
    line-height: 200px;
}

.gp-bg-1{
    background-color: #3a546d;
    color: white;
}

.gp-bg-2{
    background-color: #1abc9c;
    color: white;
}

.gp-bg-3{
    background-color: #2c3e50;
    color: white;
}
