header{
    height: 60px;
}

.gp-jumbo{
    margin-top: 60px;
}

.gp-title-size{
    font-size: 40px;
    font-weight: bold;
}

.gp-container{
    max-width: 30%;
    margin: 0 auto;
}

.gp-img{
    width: 100%;
}

.gp-example{
    line-height: 50px;
}

.gp-example-2{
    line-height: 200px;
}

.gp-bg-1{
    background-color: #3a546d;
    color: white;
}

.gp-bg-2{
    background-color: #1abc9c !important;
    color: white;
}

.gp-bg-3{
    height: 40px;
    background-color: #2c3e50;
    color: white;
}

.gp-hamburger{
    margin-top: 20px;
    font-size: 20px;
    cursor: pointer;
}

.gp-link{
    color: white;
    text-decoration: none;
}

.gp-link:hover{
    color: white;
}

.gp-text-size{
    font-size: 18px;
}

.gp-button-white{
    color: white !important;
    border-color: white !important;
}

.gp-button-white:hover{
    background-color: white !important;
    color: black !important;

}

.gp-custom-border{
    border: none !important;
    border-bottom: 1px solid lightgray !important;
}

.gp-text-color{
    color: #1abc9c;
}

.gp-copyright{
    font-size: 12px;
}

.gp-fontsize{
    font-size: 10px;
}

.gp-star-bar{
    height: 4px;
    width: 42%;
    background-color: white;
    margin: 0 auto;
}

.gp-star-bar-black{
    height: 4px;
    width: 42%;
    background-color: black;
    margin: 0 auto;
}

.gp-star-size{
    font-size: 120%;
    padding: 0 10px;
}

.gp-font-size-sections{
    font-size: 32px;
    font-weight: bold;
}

.gp-effect-1:hover{
    filter: sepia(0.6);
}

.gp-effect-1:hover .gp-plus{
    display: inline-block !important;
}

.gp-position{
    position: relative;
}

.gp-plus{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 36px;
    color: white;
}
